:root {
  --bg: white;
  --text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #212121;
    --text: #cfcfcf;
  }

  .logo-image {
    filter: invert(8%);
  }
}

html {
  min-height: 100%;
  background-color: var(--bg);
  color: var(--text);
  font-family: "Open Sans", sans-serif;
}

body {
    max-width: 1000px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
}

.logo {
    background-color: #f9a800;
    margin: 0;
    padding: 20px;
    width: 200px;
}

.logo-image {
    width: 100%;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1em;
  margin: 20px;
  flex-grow: 1;
}

.languages img {
  cursor: pointer;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    flex-grow: 1;
    border: 3px solid #f9a800;
    box-shadow: 2px 4px 15px -12px lightgray;
    padding: 10px;
    margin: 20px;
}

.card-header {
    display: flex;
    flex-direction: row;
}

.card-title {
    flex-grow: 1;
    padding-left: 10px;
}

.card-image {
    width: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

a {
  all: unset;
  text-decoration: none;
  cursor: pointer;
}

.eng {
  display: none;
}
