:root {
    --bg: white;
    --text: black;
    --d7-color: #f9a800
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #212121;
        --text: #cfcfcf;
    }

    .logo-image {
        filter: invert(8%);
    }
}

html {
    min-height: 100%;
    background-color: var(--bg);
    color: var(--text);
    font-family: "Open Sans", sans-serif;
}

body {
    max-width: 1000px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
}

.logo {
    background-color: var(--d7-color);
    margin: 0;
    padding: 20px;
    width: 200px;
}

.logo-image {
    width: 100%;
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1em;
    margin: 20px;
    flex-grow: 1;
}

.languages img {
    cursor: pointer;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    flex-grow: 1;
    border: 3px solid var(--d7-color);
    box-shadow: 2px 4px 15px -12px lightgray;
    padding: 10px;
    margin: 20px;
    position: relative;
}

.card-header {
    display: flex;
    flex-direction: row;
}

.card-title {
    flex-grow: 1;
    padding-left: 10px;
}

.card-image {
    width: 24px;
}

.card-body {
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

a {
    all: unset;
    text-decoration: none;
    cursor: pointer;
}

.eng {
    display: none;
}

.machines, .dryers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 30px 0 30px 0;
}

.machine {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.device-header {
    font-weight: bold;
}

.attribute {
    margin-left: 20px;
}

.free-devices-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 30px;
}

.free-devices {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: bold;
}

.barchart {
    position: absolute;
    right: 0;
    top: -50px;
    height: 250px;
    width: 400px;
}

.barchart-title {
    display: none;
}

.feedback-button, .feedback-selection {
    background-color: var(--d7-color);
    color: var(--bg);
    border: 1px solid var(--d7-color);
    padding: 5px 10px;
    font-weight: bold;
    font-size: 13.33px;
    margin: 10px 0;

    &:hover {
        background-color: var(--bg);
        color: var(--text);
    }

    &:active {
        background-color: var(--bg);
    }
}


.feedback-dialog-container {
    position: absolute;
}

.feedback-dialog {
    position: fixed;
    top: 30vh;
    left: 35vw;
    height: 40vh;
    width: 30vw;
    background-color: var(--bg);
    color: var(--text);
    border: 3px solid var(--d7-color);
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feedback-form {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 10px;
}

.feedback-textarea {
    flex-grow: 1;
    resize: none;
    padding: 10px;
    color: var(--text);
    background-color: var(--bg);
    border: 1px solid var(--d7-color);
    resize: none;
    margin-top: 20px;
}

.feedback-dialog-bg {
    top: 0;
    left: 0;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 999;
}

.feedback-dialog-title {
    width: 80%;
}


.cancel-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: var(--d7-color);
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 20px;

    &:hover {
        background-color: var(--d7-color);
        color: var(--bg);
    }

    &:active {
        background-color: var(--d7-color);
        color: var(--bg);
    }

}

.hidden {
    display: none;
}


@media (max-width: 768px) {

    .machines, .dryers {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .attribute {
        margin-left: 0;
    }

    .barchart {
        position: static;
        height: 100%;
        width: 100%;
        padding: -20px;
    }

    .barchart-wrapper {
        display: flex;
        justify-content: center;
        height: 250px;
        width: 99vw;
        margin: -60px -30px -20px -30px;
    }

    .barchart-title {
        margin-top: 40px;
        font-weight: bold;
        display: flex;
    }

   .feedback-dialog {
        width: 70vw;
        height: 60vh;
        left: 8vw;
        top: 15vh;
    }
}
